head {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
  }
/*The header and paragraph Roy D. Daguplo*/
  header {
    text-align: left;
    padding: 20px;
  }
  
  header img {
    border: 10px solid rgb(101, 209, 245);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
  }
/*Roy D. Daguplo*/
  header h1 { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 0;
    color: #333;
  }
/*hello*/
  header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555;
    font-size: 18px;
  }
/*my hobbies*/
  section {
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
  }
/*playing guitar*/
  #hobbies ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style-type: none;
    padding: 0;
  }
  
  #hobbies li {
    color: #f8f5f5;
    background-color: #19a2d0;
    padding: 8px;
    margin: 5px;
    display: list-item;
    border-radius: 4px;
 }
/*contact me*/
 #contact form {
    color: #333;
    padding: 8px;
    margin: 5px;
    border-radius: 4px;
  }
/*send button*/
 div#send input {
    background-color: green;
    color: #f9f8f8;
    cursor: pointer;
    font-weight: bold;
    height: 40px;
    width: 75px;
    padding-bottom: 2px;    
  }